/**
 * ESTILO FLEXBOX
 **/

.container{
    
}

.flex-start {
     
}
.flex-end {
     
}
.center {
     
}
.space-between {

}
.space-around {
     
}


/**
 * ESTILO PADRAO
 **/

 .container {
    background-color: #cdf6eb;
    margin: 10px auto 30px;
    max-width: 500px;
    font-family: sans-serif;
}

.container div {
    background: #028082;     
    margin: 8px 4px;
    height: 80px;
    width: 80px;
    font-size: 1em;
    color: #fff;
    /* as proriedades a partir daqui alinham o texto no centro */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h4 {
    margin: 20px 0 0 20px;    
    font-family: sans-serif;    
    font-weight: normal;
    font-size: 1em;
    color: #3b3b3b;
    text-align: center;
}